.restaurantCoverImg {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
}

.restaurantMealAddToCart {
    position: absolute;
    right:0;
    bottom: 0;
    margin-right: 21%;
    margin-left: auto;
    margin-bottom: 3em;
    cursor: pointer;
    background: rgba(10, 9, 8, 0.5);
    backdrop-filter: blur(15px);
    border: 1px solid black;
    color: white;
    transition-duration: 200ms;
    border-radius: 10px;
    font-family: 'Poppins';
    display: inline-block;
    text-align: center;
    width: 15em;
    height: 3.5em;
    font-weight: 700;
}

.restaurantTitle {
    margin-left: 20em;
    margin-top: 25em;
}

.restaurantTitleText {
    display: inline-block;
    color: white;
    font-size: 3rem;
}

.restaurantMealItem {
    position: relative;
    height: 20rem;
    width: 40%;
    border-radius: 26px;
}

.restaurantMealImg {
    height: 100%;
}

.restaurantMealImgDiv {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.restaurantMealInfo {
    color: white;
    padding: .5em 2em;
    font-size: 100%;
}

.mealItem {
    display: inline-block;
    margin-left: 0.2em;
    font-weight: 400;
}

.completeOrderBtn {
    display: inline-block;
    width: 25em;
    height: 4em;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Poppins';
    border: none;
    background: linear-gradient(90deg, #486BE9 0%, #FF3A5E 35.42%, #FFB13D 69.27%, #9EE493 100%);
    border-radius: 20px;
    color:white;
    float: right;
    margin-right: 5em;
    cursor: pointer;
}

.payOrderBtn {
    display: inline-block;
    width: 20em;
    height: 3.5em;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Poppins';
    border: none;
    background: linear-gradient(90deg, #486BE9 0%, #FF3A5E 35.42%, #FFB13D 69.27%, #9EE493 100%);
    border-radius: 20px;
    color:white;
    float: left;
    cursor: pointer;
}

.cityInputOrder {
    width: 15em;
    height: 2.5em;
    font-family: 'Poppins';
    font-size: 1.25rem;
    border: none;
    background-color: #486BE9;
    color: white;
    border-radius: 10px;
    padding-left: 1em;
}

::placeholder {
    color: rgb(203, 203, 203);
}